* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background: rgb(39, 43, 61);
    overflow: hidden;
}

#app {
    position: absolute;
    top: 25%;
    left: 0;
    text-align: center;
    width: 100%;
}

button.spinBtn {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: aquamarine;
}

button.spinBtn:hover {
    background-color: #013f72;
    color: white;
}

button.spinBtn.active {
    background-color: #005d07;
    color: white;
}

#board {
    display: block;
    mask-image: linear-gradient(transparent,
    black 20%,
    black 80%,
    transparent 100%);
    -webkit-mask-image: linear-gradient(to right, transparent,
    black 20%,
    black 80%,
    transparent 100%);
}